.AppNav {
  padding: 0;
}

.AppNav li {
  list-style: none;
  display: inline;
}

.AppNav li ::after {
  content: " ";
}

.AppNav a {
  text-decoration: none;
}

.AppNav a.active {
  font-weight: bold;
  text-decoration: underline;
}
